<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>VisioRhytm</string>
    <key>CFBundleDisplayName</key><string>VisioRhytm</string>
    <key>CFBundleIdentifier</key><string>com.visiorhytm.app</string>
    <key>CFBundleVersion</key><string>11</string>
    <key>CFBundleShortVersionString</key><string>0.2.1</string>
    <key>CFBundleExecutable</key><string>VisioRhytm</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>CFBundleDocumentTypes</key>
    <array><dict>
        <key>CFBundleTypeName</key><string>VisioRhytm Project</string>
        <key>CFBundleTypeRole</key><string>Editor</string>
        <key>LSHandlerRank</key><string>Owner</string>
        <key>LSItemContentTypes</key><array><string>com.visiorhytm.project</string></array>
    </dict></array>
    <key>UTExportedTypeDeclarations</key>
    <array><dict>
        <key>UTTypeIdentifier</key><string>com.visiorhytm.project</string>
        <key>UTTypeDescription</key><string>VisioRhytm Project</string>
        <key>UTTypeConformsTo</key><array><string>public.json</string></array>
        <key>UTTypeTagSpecification</key><dict>
            <key>public.filename-extension</key><array><string>visiorhythm</string></array>
            <key>public.mime-type</key><string>application/json</string>
        </dict>
    </dict></array>
</dict>
</plist>
